#header {
    // doks header-bar
    @include doks-bar;

    border-top: 10px solid;
    border-image-source: linear-gradient(90deg, #0d6efd, #8ed6fb 50%, #d32e9d);
    border-image-slice: 1;

    -webkit-border-top: 10px solid;
    -webkit-border-image-source: linear-gradient(90deg, #0d6efd, #8ed6fb 50%, #d32e9d);
    -webkit-border-image-slice: 1;

    z-index: 10;
    position: sticky;
    padding: 0 $site-padding-lr;

    .header-title {
      font-size: 1.4em;
    }

    .home-container-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
        .img-wrapper {
            padding: 5px;
            width: 100px;
            box-sizing: border-box;
            transition: 0.5s all ease;
            img {
                max-width: 100%;
                height: auto;
            }
        }

        // 面包屑导航条
        .container-breadcrumb-nav {
            padding-bottom: 8px;

            .breadcrumb-nav-bar {
                display: flex;
                font-size: 0.12rem;

                a {
                    white-space: break-spaces;
                    overflow: hidden;

                    display: block;
                    color: rgba(90,41,228, .8);
                    background: $gray-white-300;
                    margin-right: 8px;
                    padding: 4px 8px;
                    border-radius: 0 12px 0 8px;
                }

                .active a {
                    color: #5a29e4;
                }
            }
        }

        #toc {
            display: none;
        }
    }

    .container-header {
        display: flex;
        justify-content: center;
        position: relative;
        padding-top: 40px;

        .left {
            position: absolute;
            left: 0;
            .img-wrapper {
                padding: 5px;
                width: 100px;
                box-sizing: border-box;

                transition: 0.5s all ease;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        .right {
            .some {
                position: relative;
                padding: 4px 0px 6px 0px;
                #light-dark {
                    cursor: pointer;
                }
            }

            // 仅在移动端设备显示
            #toc {
                display: none;
            }
        }
    }
}
