{{ define "main" }}
<div class="container-main container-list">
    <div class="toc">
        {{- partial "partials/_page-operation.html" . -}}

        <div class="list post-list">
            {{ if ne .Kind "taxonomy"}} 
            <div class="count">Article list: {{ len .Pages }}</div>
            {{else}}
            <div class="count">Tag list: {{ len .Pages }}</div>
            {{ end }}
            
            <!-- {{ range .Paginator.Pages.ByTitle }} -->
            <!-- {{ end }} -->
            {{ range .Paginator.Pages }}
                {{if and .Title (ne .Title "<% tp.file.title %>") (ne .Title "Secrets") }}
                <!-- 📄 ➣ 📂 -->
                <div class="{{with .IsPage}}item{{ else }}item-term{{end}}" >
                   
                    <!-- if eq .Kind "page" -->
					<!-- 点击右侧列表项不再直接跳转对应文章页，而是滚动列表页到相应的锚点 -->
					<!-- <a href="{{.Permalink}}"> -->
                    <a href="#{{.Title}}">
                        <span>{{ with .IsPage}} <img src="/imgs/icons/post-3.svg" width="16" /> {{else}} <img src="/imgs/icons/ctg.svg" width="16" /> {{end}}</span>
                        <span> {{.Title}} <sup>{{if not .IsPage}}{{len .Pages}}{{ end }}</sup></span>
                    </a>
                </div>
                {{ end }}
            {{ end }}
            </div>
    </div>

    <div class="content">
        {{ .Content }}
    </div>

    {{ if ne .Kind "taxonomy"}} 
        <!-- <div class="count">共有 {{ len .Pages }} 篇文章</div> -->
    {{ end }}

    <div class="list list-single-col {{if eq .Kind "taxonomy"}}list-taxonomy{{end}}">
    {{ range .Paginator.Pages }}
        {{if and .Title (ne .Title "Secrets") (ne .Title "<% tp.file.title %>")}}
        <!-- 📄 ➣ 📂 -->
        <div class="{{with .IsPage}}item{{ else }}item-term{{end}}" >
            <!-- if eq .Kind "page" -->
            <a href="{{.Permalink}}" name="{{.Title}}" target="_self">
                <span> {{.Title}} <sup>{{if not .IsPage}}{{len .Pages}}{{ end }}</sup></span>
            </a>

            {{if .IsPage}}<div class="c-date">{{ .Date.Format "2006-01-02" }}</div>{{end}}
            
            {{ if .IsPage }}
                {{- partial "partials/_ctgtag.html" . -}}
            {{ end }}

        </div>
        {{ end }}
    {{ end }}
    </div>

    <div class="container-pagination">
    {{ template "_internal/pagination.html" . }}
    </div>
</div>
{{ end }}
