@font-face {
    font-family: romanFont;
    src: url('fonts/roman/Code-New-Roman-5.otf') format('TrueType'),
        url('fonts/roman/Code-New-Roman-6.woff') format('TrueType'),
        url('fonts/roman/Code-New-Roman-i-3.otf') format('TrueType'),
        url('fonts/roman/Code-New-Roman-i-4.woff') format('TrueType'),
        url('fonts/roman/Code-New-Roman-b-1.otf') format('TrueType'),
        url('fonts/roman/Code-New-Roman-b-2.woff') format('TrueType');
}

@font-face {
    font-family: 'interFont';
    src: url('fonts/inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interFont';
    src: url('fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'interFont';
    src: url('fonts/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'interFont';
    src: url('fonts/inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'interFont';
    src: url('fonts/inter/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'interFont';
    src: url('fonts/inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Segoe";
    src: url('/fonts/segoescript.woff2') format('truetype');
}