<div class="container-page-operation">
	<div class="page-operation">
		<div><a class="tooltip" href="/"><img src="/imgs/icons/home-2.svg" alt=""><span
					class="tooltiptext">Home</span></a></div>
		<div><a class="tooltip" href="/nav"><img src="/imgs/icons/iov-navigate-1.svg" alt=""><span
					class="tooltiptext">Navigation</span></a></div>
		<div><a class="tooltip" href="/posts"><img src="/imgs/icons/post-1.svg" alt=""><span
					class="tooltiptext">Posts</span></a></div>
		<div><a class="tooltip" href="/tags"><img src="/imgs/icons/treetags.svg" alt=""><span
					class="tooltiptext">Tags</span></a></div>
		<div id="light-dark"><a><img src="/imgs/icons/moon2.svg" alt=""></a></div>
		<div><a class="tooltip" href="#"><img src="/imgs/icons/up2.svg" alt=""><span class="tooltiptext">Back to
					top</span></a></div>
	</div>
</div>