{{ if .IsHome }}

<div class="home-container-header">
    <div class="left">
                <div class="img-wrapper" style="background: {{ with .Site.Params.img.background }}{{.}}{{end}};">
                    {{if .Site.Params.Logo }}
                    <a target="_self" href="/">
                    <img class="header-logo" id="header-logo" src="{{ .Site.Params.Logo }}" width="{{ with .Site.Params.img.width }}{{.}}{{end}}" />
                    </a>
                    {{ end }}
                </div>
    </div>
    <div class="header-title">{{ .Title }}</div>
    <div class="some">
        {{ .Site.Params.slogan }}
    </div>
</div>

{{ else }}

<div class="home-container-header">
    <div class="left">
        <div class="img-wrapper" style="background: {{ with .Site.Params.img.background }}{{.}}{{end}};">
            {{if .Site.Params.Logo }}
            <a target="_self" href="/">
            <img class="header-logo" id="header-logo" src="{{ .Site.Params.Logo }}" width="{{ with .Site.Params.img.width }}{{.}}{{end}}" />
            </a>
            {{ end }}
        </div>
    </div>
</div>
<div class="container-header">
    <div class="right">
        <h1 class="title">{{ .Title }}</h1>
        <div id="toc">📜</div>
        </div>
</div>

{{ end }}
