{{ if .IsHome }}

<div class="home-container-header">
    <div class="left">
        <div class="img-wrapper" style="background: {{ with .Site.Params.img.background }}{{.}}{{end}};">
            {{if .Site.Params.Logo }}
            <a target="_self" href="/">
                <img class="header-logo" id="header-logo" src="{{ .Site.Params.Logo }}"
                    width="{{ with .Site.Params.img.width }}{{.}}{{end}}" />
            </a>
            {{ end }}
        </div>
    </div>
    <div class="header-title">{{ .Title }}</div>
    <div class="some">
        {{ .Site.Params.slogan }}
    </div>
</div>

{{ else }}

<div class="home-container-header">
    <div class="left">
        <div class="img-wrapper img-wrapper-page"
            style="background: {{ with .Site.Params.img.background }}{{.}}{{end}};">
            {{if .Site.Params.Logo }}
            <a target="_self" href="/">
                <img class="header-logo" id="header-logo" src="{{ .Site.Params.Logo }}"
                    width="{{ with .Site.Params.img.width }}{{.}}{{end}}" />
            </a>
            {{ end }}
        </div>
    </div>
</div>
<div class="container-header">
    <!-- Blog Header - Navigation and Font Controls -->
    {{ $IsNav := eq .Params.type "nav"}}
    {{ $IsSecrets := eq .Section "secrets"}}
    {{ $IsIndividualContentPage := and .IsPage (not $IsNav) (not $IsSecrets) }}
    {{ if $IsIndividualContentPage }}
    <div class="blog-header-wrapper">
        {{- partial "partials/_blog-header.html" . -}}
    </div>
    {{ end }}

    <div class="right">
        <div class="title">{{ .Title }}</div>
        <div id="toc">📜</div>
    </div>
</div>

{{ end }}