{{ define "main" }}
<div class="container-main container-home">
    <div id="loading-screen" class="loading-screen">
        <div class="minecraft-loader">
            <div class="block block-front"></div>
            <div class="block block-back"></div>
            <div class="block block-left"></div>
            <div class="block block-right"></div>
            <div class="block block-top"></div>
            <div class="block block-bottom"></div>
        </div>
        <div class="loading-tiles" aria-hidden="true"></div>
    </div>
    <!-- 第一层级 -->

    <!-- Removed content-md block to hide homepage markdown content -->

    <div class="device-container" id="device-container">
    </div>
    <div class="content" style="display: normal; position: relative;">

        <div id="constellation-overlay" class="constellation-overlay"></div>
        <canvas id="constellation-info-star" class="constellation-info-star" width="60" height="60"
            title="Learn about the constellation"></canvas>
        {{ if .Site.Params.video.src }}
        <div class="home-header-place">
            <div class="home-header-vector-body" id="home-header-vector-body">
            </div>
        </div>
        {{ if and .Site.Params.video.feature .Site.Params.video.feature.enabled }}
        <div class="home-feature">
            <div class="home-feature__text">{{ .Site.Params.video.feature.teaserText }}</div>
            <a id="home-feature-btn" class="home-feature__btn" href="#">{{ .Site.Params.video.feature.buttonText
                }}</a>
        </div>
        {{ end }}
        {{ else if .Site.Params.img.src }}
        <!-- <img src="/imgs/{{ .Site.Params.img.src }}" width="{{ with .Site.Params.img.width }}{{.}}{{end}}" /> -->
        <div class="home-header-place">
            <div class="home-header-vector-background" id="home-header-vector-background">
                <div class="background-gradient"></div>
                <img class="home-header-vector" src="/img/header-background.png" />
                <img class="home-header-vector" src="/img/header-moon.png" />
            </div>
            <div class="home-header-vector-body" id="home-header-vector-body">
                <div class="pointer-anime" id="pointer-anime"></div>
                <div class="pointer-moon" id="pointer-moon"></div>
                <img class="home-header-vector floating-max" src="/img/header-blur-one.png" />
                <img class="home-header-vector floating" src="/img/header-adventure.png" />
                <img class="home-header-vector floating-less" src="/img/header-anime.png" />
                <img class="home-header-vector floating-min" src="/img/header-blur-two.png" />
            </div>
        </div>
        {{ else if .Site.Params.img.notImgButWords }}
        <div class="words">{{ .Site.Params.img.words | markdownify }}</div>
        {{ else }}
        <img src="/imgs/tux.jpg" width="880" />
        {{ end }}
    </div>

</div>
{{ end }}